@font-face {
    font-family: 'dosis-regular';
    src: url('./css/fonts/dosis-regular-webfont.eot');
    src: url('./css/fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./css/fonts/dosis-regular-webfont.woff2') format('woff2'),
    url('./css/fonts/dosis-regular-webfont.woff') format('woff'),
    url('./css/fonts/dosis-regular-webfont.ttf') format('truetype'),
    url('./css/fonts/dosis-regular-webfont.svg') format('svg');
}
@font-face {
    font-family: 'dosis-extralight';
    src: url('./css/fonts/dosis-extralight-webfont.eot');
    src: url('./css/fonts/dosis-extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('./css/fonts/dosis-extralight-webfont.woff2') format('woff2'),
    url('./css/fonts/dosis-extralight-webfont.woff') format('woff'),
    url('./css/fonts/dosis-extralight-webfont.ttf') format('truetype'),
    url('./css/fonts/dosis-extralight-webfont.svg') format('svg');
}
@font-face {
    font-family: 'dosis-light';
    src: url('./css/fonts/dosis-light-webfont.eot');
    src: url('./css/fonts/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('./css/fonts/dosis-light-webfont.woff2') format('woff2'),
    url('./css/fonts/dosis-light-webfont.woff') format('woff'),
    url('./css/fonts/dosis-light-webfont.ttf') format('truetype'),
    url('./css/fonts/dosis-light-webfont.svg') format('svg');
}
@font-face {
    font-family: 'dosis-medium';
    src: url('./css/fonts/dosis-medium-webfont.eot');
    src: url('./css/fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('./css/fonts/dosis-medium-webfont.woff2') format('woff2'),
    url('./css/fonts/dosis-medium-webfont.woff') format('woff'),
    url('./css/fonts/dosis-medium-webfont.ttf') format('truetype'),
    url('./css/fonts/dosis-medium-webfont.svg') format('svg');
}
@font-face {
    font-family: 'dosis-semibold';
    src: url('./css/fonts/dosis-semibold-webfont.eot');
    src: url('./css/fonts/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./css/fonts/dosis-semibold-webfont.woff2') format('woff2'),
    url('./css/fonts/dosis-semibold-webfont.woff') format('woff'),
    url('./css/fonts/dosis-semibold-webfont.ttf') format('truetype'),
    url('./css/fonts/dosis-semibold-webfont.svg') format('svg');
}
@font-face {
    font-family: 'dosis-bold';
    src: url('./css/fonts/dosis-bold-webfont.eot');
    src: url('./css/fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./css/fonts/dosis-bold-webfont.woff2') format('woff2'),
    url('./css/fonts/dosis-bold-webfont.woff') format('woff'),
    url('./css/fonts/dosis-bold-webfont.ttf') format('truetype'),
    url('./css/fonts/dosis-bold-webfont.svg') format('svg');
}

/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: dosis-regular, Verdana, Tahoma, Arial;
}
body{
    background-color: #F8F7F7;
}

/* BODY */
#root, .App{
    height: 100%;
}

/* HEADER */

header{

    height: 120px;
    border-radius: 0px 0px 0px 50px;
    margin-bottom: 20px;
}
.headerSec{
    height: 120px;
    margin-bottom: 20px;
    border-radius: 0px 0px 50px 50px;
}

.h-violeta{
    background-color: #3D358A;
}

.h-naranja{
    background-color: #F18605;
}

header h1{
    color: white;
    width: 228px;
    height: 115px;
    margin: auto;
    text-align: center;
    line-height: 115px;
}

.headerSec h2{
    color: white;
    margin: auto;
    text-align: center;
    line-height: 115px;
    font-family: dosis-regular;
}

header .logo{
    background: url("./css/logo-nja.png") center no-repeat;
    font-size: 0em;
}

/* MENÚ DE NAVEGACIÓN*/

#menu{
    background-color: #F8F7F7;
}

#menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0px;
}
#menu li{
    list-style: none;
}

#menu li a{
    text-decoration: none;
    display: block;
    width: 149px;
    height: 150px;
    border-radius: 10%;
    box-shadow: 5px 3px 5px #cfcfcf;
    margin-bottom: 15px;
    background: white top center no-repeat;
    font-size: 1em;
    font-family: dosis-medium;
    color: #3D358A;
    text-align: center;
    line-height: 255px;
}

#menu li:first-of-type a{
    background-image: url("css/medicamentos.png");
}

#menu li:nth-of-type(2) a{
    background-image: url("css/mi-historia-clinica.png");
}
#menu li:nth-of-type(3) a{
    background-image: url("css/medicos.png");
}
#menu li:nth-of-type(4) a{
    background-image: url("css/turnos.png");
}
#menu li:nth-of-type(5) a{
    background-image: url("css/estudios.png");
}
#menu li:last-of-type a{
    background-image: url("css/perfil.png");
}
/* SECCIÓN MÉDICOS */

.sin-datos{
    margin-top: 50px;
    font-family: dosis-semibold;
}

/* BOTÓN AGREGAR */

.agregar{
    display: block;
    text-align: center;
    font-size: 0;
    width: 47px;
    height: 49px;

}
.agregar:hover{

    cursor: pointer;
}


.agregar.nja{
    background-image: url("./css/boton-agregar-nja.png");
    background-position: center;
}

.agregar.vta{
    background-image: url("./css/boton-agregar-vta.png");
    background-position: center;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .content{
    flex-grow: 1;
}

.box .button{
    flex-basis:auto;
    margin: 2em auto 2em auto;
}

.s-medicos p{
    text-align: center;
    font-size: 18px;
    color: #3D358A;
}


/* MODAL */

.mi-modal{
    position: fixed;
    background-color: rgba(248, 247, 247 , 1);
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 2em;
}

.mi-modal .cerrar, .cerrar a{
    background-image: url("./css/cruz.png");
    font-size: 0px;
    width: 26px;
    height: 23px;
    margin: 1rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.mi-modal .cerrar:hover{
    cursor: pointer;
}

/* FORMULARIO */
label{
    display: none;
}
.label-date{
    display: block;
}
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea, select{
    display: block;
    margin: 0px auto;
    width: 85%;
    height: 40px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc inset;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 30px;
    color: #292929;
    font-size: 17px;
}

textarea{
    height: 60px;
    padding-top: 7px;
}

input[type="text"]:focus, input[type="tel"]:focus, textarea:focus{
    outline: 1px #F18605 solid;

}

input[type="submit"], .iniciar-sesion .button-user{
    margin: 20px auto 20px auto;
    display: block;
    text-align: center;
    width: 200px;
    height: 50px;
    color: white;
    background: linear-gradient(to bottom, #ffa333 0%, #f18605 100%);
    border-radius: 30px;
    border: 1px solid #ae5f06;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 20px;
}

/* DATOS DE CADA MEDICO y MEDICACIÓN */

.datos-secciones{

    border-radius: 20px;
    box-shadow: 5px 3px 5px #cfcfcf;
    margin-bottom: 15px;
    background: white top center no-repeat;
    font-size: 1em;
    font-family: dosis-medium;
    color: #3D358A;
    width: 90%;
    margin: 1em auto 1em auto;
    padding: 1em;

}


.datos-secciones li{
    list-style: none;
    display: block;
    width: auto;
    margin: auto;
}
.datos-secciones li span{
    font-family: dosis-semibold;
}

/* ERRORES VALIDACIÓN */
.errors-validation{
    font-family: dosis-light;
    color: red;
    padding-left: 35px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}


.errors-validation span:first-of-type{
    font-size: 0px;
    width: 16px;
    height: 16px;
    background-image: url("css/cerrar.png");
    margin-right: 5px;
}

/* INICIO SESIÓN */

.iniciar-sesion{
    background-color: #3D358A;
    padding-bottom: 7em;
}

.iniciar-sesion p{
    text-align: center;
    margin: .5em;
    color: white;
}

.iniciar-sesion p a{

    color: #F18605;
    text-decoration: none;

}

.iniciar-sesion input[type="submit"], .iniciar-sesion .button-user, .registro .button-user  {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 80%;

}

.iniciar-sesion .button-user a, .iniciar-sesion .button-user button{
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: .2px;
}
.iniciar-sesion .button-user button{
    background-color: transparent;
    border: none;


}


.registro p{
    text-align: center;
}

.registro p a{
    text-decoration: none;
    color:#3D358A;
}

/* BOTONES EDITAR - ELIMINAR */

.boton-eliminar, .boton-editar{
    display: inline-block;
    width: 100px;
    margin: 1em;
    padding: 5px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;

}

.boton-eliminar{
    /*background: linear-gradient(to bottom, #f37474 0%, #e54f4f 100%);*/
    background-color: rgba(246, 95, 95, 0.8);
    border: 1px solid rgba(246, 95, 95, 0.8);
}

.boton-editar{
    background-color: rgba(85, 136, 248, 0.8);
    border: 1px solid #79a4ff;
}

.cerrar-sesion{
    display: block;
    width: 90%;
    margin: 1em auto 0 auto;
    color: white;
    background: #3D358A;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #0036a9;
    height: 50px;
}

.perfil p{
    font-size: 20px;
    text-align: center;
}

.perfil a{

    color: white;
    text-decoration: none;
    background: rgba(145, 145, 145, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: .2px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    margin-top: 1em;
}

.suggestions{
    display: block;
    margin: 0px auto;
    width: 85%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc inset;
    border-radius: 10px;
    padding-left: 30px;
    color: #292929;
    font-size: 17px;
}
.noneDisplay{
    display: none
}

.map-container{
    margin: 20px auto 0px auto;
    border-radius: 10px;
}

.recuperar {
    padding-top: 3em;
}

.recuperar input[type="submit"]{
    color: white;
    background: linear-gradient(to bottom, #ffa333 0%, #f18605 100%);
}

.recuperar{
    background-color: #3D358A;
}

.orange{
    color: #f18605;
}